@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}

section:not(:nth-of-type(6)) {
  min-height: 35rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: none;
  cursor: pointer;
}

.banner {
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/desktop/image-header.jpg");
}

.top__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 4rem;
}

.top__nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.top__nav > ul li {
  color: white;
}

.top__nav ul li a {
  border-radius: 2rem;
  font-weight: 600;
  display: grid;
  place-content: center;
  transition: text-transform 1s;
  width: 7rem;
  height: 3rem;
}

/* Last-child */
/* Last-type-of*/
/* nth-of-type()*/
/* nth-child()*/
/* *:nth-child()*/

.top__nav ul *:nth-child(4) a {
  text-transform: uppercase;
  background-color: white;
  color: #000;
}

.top__nav ul li a:hover {
  background-color: rgba(166, 198, 224, 0.774);
  color: white;
}

.top__nav > .moble__nav {
  display: none;
  position: relative;
  height: 100%;
}

.top__nav > .moble__nav ul {
  background-color: white;
  padding: 1rem 0;
  width: 14rem;
  height: 18rem;
  display: none;
  align-items: center;
  gap: 0.8rem;
  flex-direction: column;
  position: absolute;
  top: 200%;
  right: 0;
}

.top__nav > .moble__nav ul:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;

  border-left: 0;
  border: 10px solid red;
  border-color: transparent white white transparent;
}

.top__nav > .moble__nav ul li {
  color: gray;
}

.top__nav > .moble__nav button:hover ul {
  display: flex;
}

.banner > .banner__content {
  margin-inline: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.banner > .banner__content > h4 {
  font-size: 2.5rem;
  letter-spacing: 0.6rem;
  color: white;
  text-transform: uppercase;
}

.banner > .banner__content > img {
  animation-name: bounce;
  position: relative;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: 2rem;
}

@keyframes bounce {
  0% {
    top: -2rem;
  }

  50% {
    top: 2rem;
  }
  100% {
    top: -2rem;
  }
}

/* ----------- WHY CHOOSE US ------------ */

.why__chooseUs {
  display: flex;
}

.why__chooseUs > div {
  flex: 1;
  width: 100%;
}

section.why__chooseUs:nth-of-type(3) {
  flex-direction: row-reverse;
}

.why__chooseUs > .info > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 3rem;
  padding: 4rem;
}

.why__chooseUs > .info h5 {
  font-size: 2.5rem;
  font-weight: 600;
}
.why__chooseUs > .info p {
  font-size: 18px;
  color: hsl(232, 10%, 55%);
}
.why__chooseUs > .info a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 10px;
}
.why__chooseUs img {
  width: 100%;
  height: 100%;
}

.services {
  height: 30rem;
  display: flex;
}

.services .service__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.services .service__item h5,
.services .service__item p {
  max-width: 50%;
  width: 100%;
  text-align: center;
}

.services .service__item h5 {
  font-weight: 600;
  font-size: 1.5rem;
}
.services .service__item p {
  font-weight: 400;
  font: 18px;
}

.services .service__item:first-of-type {
  background-image: url("/images/desktop/image-photography.jpg");
}
.services .service__item:last-of-type {
  background-image: url("/images/desktop/image-graphic-design.jpg");
}

/* ----- TESTIMONIALS --------- */
.testimonials {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials > div {
  width: 80%;
}

.testimonials > div h5 {
  font-size: 1.5rem;
  color: rgb(221, 218, 218);
  letter-spacing: 8px;
  margin-bottom: 4rem;
  text-transform: uppercase;
  text-align: center;
}
.testimonials .testimonials__wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.testimonials .testimonial__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.testimonials .testimonial__items > .avatar {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials .testimonial__items > .avatar img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.testimonials .testimonial__items > p {
  text-align: center;
  color: gray;
  font-weight: 600;
  line-height: 2rem;
}
.testimonials .testimonial__items > div:last-of-type {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__items > div:last-of-type h6 {
  font-weight: 700;
  font-size: 1.3rem;
}
.testimonial__items > div:last-of-type span {
  color: lightgray;
}

/* IMAGE GALLERY */

.image__gallery {
  display: flex;
}
.image__gallery img {
  height: 25rem;
  width: 100%;
}

/* FOOTER */

footer.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-color: hsl(168, 34%, 41%);
  color: hsl(167, 40%, 24%);
}

.footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  max-width: 40%;
}

.footer > div > ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  font-weight: 500;
}
.footer > div > div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* RESPONSIVE  */
@media screen and (max-width: 600px) {
  section {
    min-height: fit-content;
  }
  .top__nav > ul {
    display: none;
  }
  .top__nav > .moble__nav {
    display: block;
  }
  .banner > .banner__content > h4 {
    text-align: center;
  }

  /* Why Choose Us */

  section.why__chooseUs:nth-of-type(3),
  .why__chooseUs {
    flex-direction: column-reverse;
  }

  .why__chooseUs > .info > div {
    padding: 4rem 2rem;
  }

  .why__chooseUs img {
    height: 20rem;
  }

  /* SERVICE */
  .services {
    flex-direction: column;
  }

  /* TESTIMONIALS */
  .testimonials {
    padding: 3rem 0;
  }
  .testimonials .testimonials__wrapper {
    flex-direction: column;
  }

  /* IMAGE GALLERY */
  .image__gallery {
    flex-wrap: wrap;
    height: 25rem;
  }
  .image__gallery img {
    height: 50%;
    width: 50%;
  }
}
